@charset "UTF-8";
@import "reset.css";
.clear{
    clear: both;
}
body {
	width: 100%;
	height:300%;
	background: white;
	margin: 0;
	padding: 0;	
    font-family: '맑은 고딕', 'Malgun Gothic', verdana;    
    color:#0077b6;
}
a{
    text-decoration: none;
    color:#0077b6;
}
a:hover{
	color:#f2542d;
}
textarea{
	border:none;
	resize:none;
}
textarea:focus{
	outline:none;
}
#wrap{
	position:relative;	
    width: 100%;
}
button:hover{
    cursor: pointer;
}
/*header 메인 메뉴 부분*/
header{	
    display:grid;
    width: 70%;
    height: 200px;
    margin : 1% 15%;
    row-gap: 10%;
    grid-template-areas:
    "login"
    "logo"
    "cate";
    margin-bottom:20px;
}
#top_menu{
    width: 100%;
    grid-area: login;    
}
#top_menu ul{
	width:33%;
	height:100%;
    float: right;
    text-align: right;
}
#top_menu li{	
	display:inline-block;
	margin-left: 30px;
	line-height:1.5;
	font-size:1.2rem;
	font-weight:bold;	
}
#logo{
    width: 100%;
	grid-area: logo;
	text-align: center;
}
#category_menu{
	width:100%;	
	height:100%;
	grid-area: cate;
}
#category_menu ul{	
	width:100%;	
	height:100%;
    text-align: center;
}
#category_menu li{
	font-size:1.5rem;
	font-weight:bold;	
	display:inline-block;
	margin-left:30px;
}
#category_menu li:first-child{
    margin-left:0;
}

/*메인 이미지*/
#mainSearch{
	position:relative;	
	width:100%;
	height:700px;
}
#main_img{	
	width:100%;	
	height:100%;
	margin:0 auto;
    text-align: center;
}
#mainImg{
	width:75%;
	height:100%; 
    display:inline-block;        
}

/*메인 검색창*/
#main_searchbar{	
	position:absolute;	
	left:34%;
	top:25%;
	width:34%;
	height:40%; 
	background-color:#1b4965c2;
	z-index:10;	
    border-radius: 30px;
    color: white;
    font-size:1.5rem;
    text-align: center;
	line-height:1.5;
}
#main_searchbar span{
	margin-right: 30px;
}
#selects{	
	padding-top:7%;
	display:inline-block;
	margin: 5% 10%;
	width:80%;
	height:60%; 
	text-align: left;
}
#selectAddress{
	height:50px;
	display:inline-block;
	margin-bottom:5%;
}
.selectAd{
	background-color:white;
	color:black;
	width:130px;
	height:35px; 
	margin-right:10px;
	border-radius:5px;
}
#searchName{
	height:50px;
	display:inline-block;
	line-height:1.5;
}
#inputText{	
	width:180px;
	height:35px; 
	border:0;
	font-size:1rem;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:2px;
	line-height:1.5;
}
#mainBtn{
	display:inline-block;
	border:none; 
	background-color:#ffd500;
	color:#00296b;
	font-size:1.3rem;	
	width:80px;
	height:35px; 
	border-radius:5px;
	text-align: center;
	line-height:1.5;
	font-weight:500;
}
#mainBtn:hover{
	background-color:#f2542d;
	color:white;
	cursor:pointer;
}

/*new 캠핑장*/
.mainTitle{
	width: 75%;
	height: 7%;
	margin: 3% auto 0.5% auto;
	line-height:2;
	font-size:1.7rem;
	font-weight:bold;
	text-align: center;
}
.newCampings{
	width: 75%;
  	height: 350px;
  	margin: 0 auto;
  	padding : 0 2%;
}
.newCampCard{
	display:inline-block;
	width: 20%;
  	height: 100%;
  	margin:0 2%;
  	text-align: center;	
}
.newCampImgs{	
	position:relative;
	width:94%;
	height:70%;
  	border-radius:50%;
  	overflow: hidden;
  	margin:2%;
}
.newCampImgs:hover{
	cursor:pointer;
}
.campImg{
	width:100%;
	height:100%;
}
.imgCover{	
	position:absolute;
	top:100%;
	width: 100%;
  	height: 70%;
  	background-color:rgba(0, 0, 0, 0.5); 
  	text-align: center;
  	color:white;
  	font-size:1.3rem;
	line-height:1.5;
	padding-top:30%;
}
.newCampName{
	width: 100%;
  	height: 8%;
  	font-size:1.2rem;
  	font-weight:600;
	line-height:1.5;
	background-color:#48cae4;
	color:white;
}
.newCampInfo{	
	width: 98%;
  	height: 19%;
  	padding-left:2%;
  	font-size:0.9rem;
	line-height:1.5;
	background-color:#caf0f8;
	color:black;
	text-align:left;
	word-wrap : break-word; 
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/*추천 캠핑장*/
#recoBox{
	width:100%;
	height:500px;
  	background-image: url("../images/bgImg1.jpg");
  	background-size: 75% 500px;
  	background-repeat: no-repeat;
  	background-position:center;
  	color:white;
  	margin-bottom: 2%;
}
.recoCampings{
	width: 75%;
  	height: 400px;
  	margin: 0 auto;
  	text-align: center;
}
.recoTheme{	
	width: 100%;
  	height: 50px;
}
.recoTheme span{
	font-size:1.2rem;
	font-weight:550;
	line-height:2;
}
.recoview{
	display:flex;
	justify-content: center;	
	align-items: center;
	width: 100%;
  	height: 330px;
  	padding: 10px 0;
}
.cardView{
	position:relative;
	width: 1012px;
  	height: 330px;
  	overflow: hidden;
}
.cards{
	position:absolute;
	left:0;
	display:flex;	
	align-items: flex-start;
  	height: 330px;
}
.recoCampCard{
	border: 1.5px solid #48cae4;	
	width: 250px;
  	height: 320px;
  	border-radius:5px; 
}
.recoCampCard:hover{
	cursor:pointer;
	border: 1.5px solid tomato;
}
.cardHeader{
	width: 250px;
  	height: 15%;
  	background-color:rgba(128, 128, 128, 0.8);  	
  	text-align:left;
  	border-bottom:1.5px solid #90e0ef;
}
.cardHeader span{
	color:white;
	font-size:1.2rem;
	font-weight:500;
	line-height:2.5;
	margin-left:20px;	
}
.recoImg{
	width: 250px;
  	height: 85%; 	 	
}
.recoImg img{
	width:100%;
	height:100%;
}
.btnA{
	width: 10%;
	height: 70px;
}
.btnA img{		
	width: 40px;
  	height: 65px;
}
.btnA img:hover{
	cursor:pointer;		
	width: 44px;
  	height: 69px;		
}

/*footer*/
footer{
	background-color:#1d3557;		
	width: 100%;
  	height: 200px;	
}
#adBtn{
	width:115px;
	height:32px;
	border:1px solid gray;
	border-radius:3px;
	text-align:center;
	line-height:1.7;
	font-size:1.1rem;
}
.foot{
	display:flex;
	width: 75%;
  	height: 100px;	
  	align-items: center;
  	justify-content: space-between;
  	margin:0 auto;
}
#fLogo{
  width: 20%;
  height: 40px;
  padding-left:3%;	
}
#fLogo img{
  width: 60%;
  height: 100%;
  opacity: 0.5;	
}
#copy{
	margin-left:10px;
	text-align:left;
	line-height:1.5;
	font-size:1rem;	
}
.upBtn{
	width:52px;
	height:52px;
	border-radius:50%;
	background-color:#ffd60a;
	text-align:center;
}
.upBtn a{
	color:#1d3557;
	font-size:1.4rem;
	font-weight:bold;
	line-height:2;
}
.upBtn a:hover{
	color:#1d3557;
}

/* 캠핑장 검색 페이지 */
#campSearch{
	width:400px;
	height:50px;
	margin:0 auto;
}
#campSearch input{
	width:250px;
	height:34px;
	outline: none;
	border: 1px solid #48cae4;
	border-radius: 17px;
	padding-left:17px;
	margin:	0 10px 0 85px;
}
#campSearch input::placeholder{
	color:gray;
	opacity: 0.5;
}
#campSearch input:focus::placeholder{
	opacity: 0;
}
#searchBtn{
    width: 20px;
    height:20px;
    vertical-align: middle;
    opacity:0.6;
}
.bar{
	width:100%;
	height:2px;
	margin-top: 15px;
	margin-bottom:30px;
	background-color:#1d3557;
	opacity:0.5;
}
#searchResult{
    width: 80%;
    margin:0 auto;
    display:flex;
    flex-wrap : wrap;
    justify-content: space-between;
    align-items: center;
    
}
#campInfo{
	background-color:#e5e5e5a6;
	width:300px;
	height:310px;
    margin: 20px 10px;
    padding: 10px;
    border-radius:3px;
    box-shadow: 2px 2px 6px gray;
}
#campInfo_img{    
    width: 300px;
    height: 200px;
    display: block;
    /*box-shadow: 1px 1px 4px gray;*/
}
#campInfo_text{
	margin-top:10px;
}
#campInfo_text span{
	line-height:1.4;
	font-size:0.8rem;
	color: black;
}
#campInfo_text span:first-child{
	color:#0077b6;
	line-height:1.5;
	font-size:1rem;
}
#campInfo_text span:first-child:hover{
	color:crimson;
}

/* login css */
#loginTable{
	width: 40%;
	margin:0 auto;	
}
.login {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}

h2 {
  color:#0077b6;
  font-size: 2em;
  font-weight:bold;
}

.login_id {
  margin-top: 20px;
  width: 80%;
}

.login_id input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_pwd {
  margin-top: 20px;
  width: 80%;
}

.login_pwd input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}


.login_radio{
  margin-top: 20px;
  width: 80%;
  padding:5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.buttons{
   margin-top: 30px;
   text-align: center;
   
}

.buttons input {
  width: 80px;
  height: 40px;
  border: 0;
  outline: none;
  border-radius:5px;
  background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  display :inline-block;
  margin-right: 10px;
  font-weight:bold;
}

.button{
   border-color:#043056;
}

.button:hover {
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

/* join css*/
.joinTable{
  width: 30%;
  height: 900px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}

h1 {
  color:#0077b6;
  font-size: 2em;
  font-weight:bold;
}


.inputDiv{
  margin-top: 20px;
  width: 80%;
}

.inputDiv input {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.buttons{
   margin-top: 10px;
   text-align: center;
}

.buttons input {
  width: 80px;
  height: 40px;
  border: 0;
  outline: none;
  border-radius:5px;
  background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  display :inline-block;
  margin-right: 10px;
  font-weight:bold;
}

.button{
 border-color:#043056;
}

.button:hover {
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

.inputDiv input.btn{
   width:100px;
   height:30px;
   background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
   color: white;
}
.btn{
   border-color:#043056;
}

.btn:hover {
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

/*mypage css*/
#mypage{
  width: 1000px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}


.memberInfoList1, .memberInfoList2{
  width: 900px;
  padding: 0px 20px;
  outline: none;
  color:#0077b6;
  font-size: 20px;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  letter-spacing: 2px;
}

.memberInfoList2 tr:first-child{
   width:8%;
   border-bottom:2px solid #023e8a;
   font-size:1.2rem;
   font-weight:600;
   padding: 5px;
}

.memberInfoList1 th{
   width:30%;
   border-right:1px dotted #023e8a;
   font-size:1.2rem;
   font-weight:600;
   padding: 5px;
}

.memberInfoList1 tr, .memberInfoList2 tr{
   width: 800px;
   margin-top: 50px;
   line-height: 3rem;
   text-align:center;
}

.memberInfoList1 tr td, .memberInfoList2 tr td{
   width: 800px;
   margin-top: 30px;
   line-height: 3rem;
}

#mypagebtn input{
  height: 30px;
  border: 0;
  outline: none;
  border-radius:5px;
  background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  display :inline-block;
  margin-right: 10px;
  font-weight:bold;
  text-align: center;
}

#mypagebtn input:hover{
   cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

.memberInfoList2 td input{
  height: 30px;
  border: 0;
  outline: none;
  border-radius:5px;
  background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  display :inline-block;
  margin-right: 10px;
  font-weight:bold;
  text-align: center;
}

.memberInfoList2 td input:hover{
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

/*campdetail css*/
#campingdetail{
	width:100%;
	height:1000px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	margin:0 auto;
}
#campMain{
	width:75%;
	height:500px;
	margin:0 auto;
	display: flex;
  	justify-content:space-around;
  	align-items: center;
}
#campMain_img{
   border-radius: 10px;
   width:600px;
   height:400px;
   overflow:hidden;
}
#campMain_img img{
	width:100%;
    height:100%;
}
#campMain_info{
    width:600px;
    height:400px;
}

#campMain_info-title{
	width:300px;
    height:50px;
    margin:10px auto 20px auto;
    border-bottom: 3px solid #3a0ca3;
    text-align:center;
}
#campMain_info-title h2{
	line-height:1.7;
}
#campMain_info label{
   line-height: 1.5rem;
   margin-left:20px;
   font-weight:750;
}
#campMain_info-btns{
	width:540px;
    height:50px;
    padding:10px 30px;
    text-align:right;
}

#campMain_info .submit, .view td input{
	margin:5px 5px 5px 5px;
	border: 0;
	border-radius:5px;
	background:linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
	color: white;
	font-size: 1rem;
	letter-spacing: 2px;
	margin-right: 10px;
	font-weight:bold;
}

#campMain_info .submit:hover, .view td input:hover, .btns input:hover{
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

#campDetail{
	width:80%;
	height:400px;	
	text-align:center;
	margin:0 auto;
	padding:30px;
	border-top:2px solid #a8dadc;
	border-bottom:2px solid #a8dadc;
}
#campDetail_imgs{
	width:80%;
	height:200px;
	margin: 40px auto;
}
#campDetail_imgs img{
	margin-left: 60px;
	border-radius: 100%;
	width:200px;
	height:200px;
}
#campDetail_imgs img:first-child{
	margin-left: 0;
}

/*객실정보*/
#roomBox{
	width:80%;
	height:600px;
	margin:0 auto;
	text-align:center;
	border-bottom:2px solid #a8dadc;
}

/* Q&A css */
.listBox{
	width:75%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:4% auto;
}
.view{
	width:80%;
   	margin:3% auto;
   	text-align:center;
   	line-height:1.5;
}
.view th{
	width:8%;
	border-bottom:2px solid #023e8a;
	font-size:1.2rem;
	font-weight:600;
	padding: 5px;
}
.view th:nth-child(3){
	width:10%
}
.view th:nth-child(4){
	width:45%
}
.view th:nth-child(5){
	width:14%
}
.view th:last-child{
	width:15%
}
.listOne td{
	height:40px;
	vertical-align: middle;
}
.listOne td:nth-child(4){
	text-align:left;
}
.listBox form{
	width:100%;
	height: 100px;
}
.writeBox{
	width:60%;
	height:120px;
	margin: 0 auto;
	padding:10px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#edf2f4;
	border-radius:5px;
}
.writeBox textarea{
	width:830px;
	height:80px;
	background-color:transparent;
}
.writeBox div{
	width:100%;
	height:20px;
	text-align:right;
}
.paging{
	width:50%;
	height: 35px;
	margin:10px auto;
}
.bar2{
	width:80%;
	height:2px;
	background-color:#a8dadc;
	margin:0 auto;
}

/* review css */
.btns input{
    border: 0;
    border-radius:5px;
  	background:linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  	color: white;
  	font-size: 1rem;
  	letter-spacing: 2px;
  	margin-right: 10px;
  	font-weight:bold;
}

/*회원가입약관*/
.jv{
   margin-top:2%;   
}

