@charset "UTF-8";
@import "reset.css";
body {
	width: 100%;
	height:300%;
	background: white;
	margin: 0;
	padding: 0;	
    font-family: '맑은 고딕', 'Malgun Gothic', verdana;    
    color:#0077b6;
}
a{
    text-decoration: none;
    color:#0077b6;
}
a:hover{
	color:#f2542d;
}
#wrap{
	position:relative;	
    width: 100%;
}
button:hover{
    cursor: pointer;
}
/*header 메인 메뉴 부분*/
header{	
    display:grid;
    width: 70%;
    height: 200px;
    margin : 1% 15%;
    row-gap: 10%;
    grid-template-areas:
    "login"
    "logo"
    "cate";
    margin-bottom:20px;
}
#top_menu{
    width: 100%;
    grid-area: login;    
}
#top_menu ul{
	width:33%;
	height:100%;
    float: right;
    text-align: right;
}
#top_menu li{	
	display:inline-block;
	margin-left: 30px;
	line-height:1.5;
	font-size:1.2rem;
	font-weight:bold;	
}
#logo{
    width: 100%;
	grid-area: logo;
	text-align: center;
}
#category_menu{
	width:100%;	
	height:100%;
	grid-area: cate;
}
#category_menu ul{	
	width:100%;	
	height:100%;
    text-align: center;
}
#category_menu li{
	font-size:1.5rem;
	font-weight:bold;	
	display:inline-block;
	margin-left:30px;
}
#category_menu li:first-child{
    margin-left:0;
}

/*메인 이미지*/
#mainSearch{
	position:relative;	
	width:100%;
	height:700px;
}
#main_img{	
	width:100%;	
	height:100%;
	margin:0 auto;
    text-align: center;
}
#mainImg{
	width:75%;
	height:100%; 
    display:inline-block;        
}

/*메인 검색창*/
#main_searchbar{	
	position:absolute;	
	left:34%;
	top:25%;
	width:34%;
	height:40%; 
	background-color:#1b4965c2;
	z-index:10;	
    border-radius: 30px;
    color: white;
    font-size:1.5rem;
    text-align: center;
	line-height:1.5;
}
#main_searchbar span{
	margin-right: 30px;
}
#selects{	
	padding-top:7%;
	display:inline-block;
	margin: 5% 10%;
	width:80%;
	height:60%; 
	text-align: left;
}
#selectAddress{
	height:50px;
	display:inline-block;
	margin-bottom:5%;
}
.selectAd{
	background-color:white;
	color:black;
	width:130px;
	height:35px; 
	margin-right:10px;
	border-radius:5px;
}
#searchName{
	height:50px;
	display:inline-block;
	line-height:1.5;
}
#inputText{	
	width:180px;
	height:35px; 
	border:0;
	font-size:1rem;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:2px;
	line-height:1.5;
}
#mainBtn{
	display:inline-block;
	border:none; 
	background-color:#ffd500;
	color:#00296b;
	font-size:1.3rem;	
	width:80px;
	height:35px; 
	border-radius:5px;
	text-align: center;
	line-height:1.5;
	font-weight:500;
}
#mainBtn:hover{
	background-color:#f2542d;
	color:white;
	cursor:pointer;
}

/*new 캠핑장*/
.mainTitle{
	width: 75%;
	height: 7%;
	margin: 3% auto 0.5% auto;
	line-height:2;
	font-size:1.7rem;
	font-weight:bold;
	text-align: center;
}
.newCampings{
	width: 75%;
  	height: 350px;
  	margin: 0 auto;
  	padding : 0 2%;
}
.newCampCard{
	display:inline-block;
	width: 20%;
  	height: 100%;
  	margin:0 2%;
  	text-align: center;	
}
.newCampImgs{	
	position:relative;
	width:94%;
	height:70%;
  	border-radius:50%;
  	overflow: hidden;
  	margin:2%;
}
.newCampImgs:hover{
	cursor:pointer;
}
.campImg{
	width:100%;
	height:100%;
}
.imgCover{	
	position:absolute;
	top:100%;
	width: 100%;
  	height: 70%;
  	background-color:rgba(0, 0, 0, 0.5); 
  	text-align: center;
  	color:white;
  	font-size:1.3rem;
	line-height:1.5;
	padding-top:30%;
}
.newCampName{
	width: 100%;
  	height: 8%;
  	font-size:1.2rem;
  	font-weight:600;
	line-height:1.5;
	background-color:#48cae4;
	color:white;
}
.newCampInfo{	
	width: 100%;
  	height: 19%;  	
  	font-size:0.9rem;
	line-height:1.5;
	background-color:#caf0f8;
	color:black;
}

/*추천 캠핑장*/
#recoBox{
	width:100%;
	height:500px;
  	background-image: url("../images/bgImg1.jpg");
  	background-size: 75% 500px;
  	background-repeat: no-repeat;
  	background-position:center;
  	color:white;
}
.recoCampings{
	width: 75%;
  	height: 400px;
  	margin: 0 auto;
  	text-align: center;
}
.recoTheme{	
	width: 100%;
  	height: 50px;
}
.recoTheme span{
	font-size:1.2rem;
	font-weight:550;
	line-height:2;
}
.recoview{
	display:flex;
	justify-content: center;	
	align-items: center;
	width: 100%;
  	height: 330px;
  	padding: 10px 0;
}
.cardView{
	position:relative;
	width: 1012px;
  	height: 330px;
  	overflow: hidden;
}
.cards{
	position:absolute;
	left:0;
	display:flex;	
	align-items: flex-start;
  	height: 330px;
}
.recoCampCard{
	border: 1.5px solid #48cae4;	
	width: 250px;
  	height: 320px;
  	border-radius:5px; 
}
.recoCampCard:hover{
	cursor:pointer;
	border: 1.5px solid tomato;
}
.cardHeader{
	width: 250px;
  	height: 15%;
  	background-color:rgba(128, 128, 128, 0.8);  	
  	text-align:left;
  	border-bottom:1.5px solid #90e0ef;
}
.cardHeader span{
	color:black;
	font-size:1.2rem;
	font-weight:500;
	line-height:2.5;
	margin-left:20px;	
}
.recoImg{
	width: 250px;
  	height: 85%; 	 	
}
.recoImg img{
	width:100%;
	height:100%;
}
.btnA{
	width: 10%;
	height: 70px;
}
.btnA img{		
	width: 40px;
  	height: 65px;
}
.btnA img:hover{
	cursor:pointer;		
	width: 44px;
  	height: 69px;		
}

/* login css */
#loginTable{
	width: 40%;
	margin:0 auto;	
}
.login {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}

h2 {
  color:#0077b6;
  font-size: 2em;
  font-weight:bold;
}

.login_id {
  margin-top: 20px;
  width: 80%;
}

.login_id input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_pwd {
  margin-top: 20px;
  width: 80%;
}

.login_pwd input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}


.login_radio{
  margin-top: 20px;
  width: 80%;
  padding:5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.buttons{
   margin-top: 30px;
   text-align: center;
   
}

.buttons input {
  width: 80px;
  height: 40px;
  border: 0;
  outline: none;
  border-radius:5px;
  background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  display :inline-block;
  margin-right: 10px;
  font-weight:bold;
}

.button{
   border-color:#043056;
}

.button:hover {
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

/* join css*/
.joinTable{
  width: 30%;
  height: 900px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}

h1 {
  color:#0077b6;
  font-size: 2em;
  font-weight:bold;
}


.inputDiv{
  margin-top: 20px;
  width: 80%;
}

.inputDiv input {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.buttons{
   margin-top: 10px;
   text-align: center;
}

.buttons input {
  width: 80px;
  height: 40px;
  border: 0;
  outline: none;
  border-radius:5px;
  background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  display :inline-block;
  margin-right: 10px;
  font-weight:bold;
}

.button{
 border-color:#043056;
}

.button:hover {
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}

.inputDiv input.btn{
   width:100px;
   height:30px;
   background:  linear-gradient(to bottom, rgba(148,213,239,1) 9%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 41%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 62%,rgba(73,192,240,1) 100%,rgba(44,175,227,1) 100%,rgba(73,192,240,1) 100%);
   color: white;
}
.btn{
   border-color:#043056;
}

.btn:hover {
    cursor: pointer;
    color: #0077b6;
    background-color:#e2edf6;
}
