@charset "UTF-8";
@import "reset.css";
body {
	background: white;
	margin: 0;
	padding: 0;	
    font-family: '맑은 고딕', 'Malgun Gothic';
}
a{
    text-decoration: none;
    color:#0077b6;
}
a:hover{
	color:#f2542d;
}
#wrap{
	position:relative;	
    width: 100%;
    height: 100%;	
}
/*header 메인 메뉴 부분*/
header{	
    display:grid;
    width: 70%;
    height: 200px;
    margin : 1% 15%;
    row-gap: 10%;
    grid-template-areas:
    "login"
    "logo"
    "cate";
    margin-bottom:20px;
}
#top_menu{
    width: 100%;
    grid-area: login;    
}
#top_menu ul{
	width:33%;
	height:100%;
    float: right;
    text-align: right;
}
#top_menu li{	
	display:inline-block;
	margin-left: 30px;
	line-height:1.5;
	font-size:1.2rem;
	font-weight:bold;	
}
#logo{
    width: 100%;
	grid-area: logo;
	text-align: center;
}
#category_menu{
	width:100%;	
	height:100%;
	grid-area: cate;
}
#category_menu ul{	
	width:100%;	
	height:100%;
    text-align: center;
}
#category_menu li{
	font-size:1.5rem;
	font-weight:bold;	
	display:inline-block;
	margin-left:30px;
}
#category_menu li:first-child{
    margin-left:0;
}

/*메인 이미지*/
#main_img{	
	width:100%;
	height:40%; 
	margin:0 auto;
    text-align: center;
}
#mainImg{
	width:75%;
	height:100%; 
    display:inline-block;        
}

/*메인 검색창*/
#main_searchbar{	
	position:absolute;	
	left:34%;
	top:43%;
	width:34%;
	height:25%; 
	background-color:#1b4965c2;
	z-index:10;	
    border-radius: 30px;
    color: white;
    font-size:1.5rem;
    text-align: center;
	line-height:1.5;
}
#main_searchbar span{
	margin-right: 30px;
}
#selects{	
	padding-top:7%;
	display:inline-block;
	margin: 5% 10%;
	width:80%;
	height:60%; 
	text-align: left;
}
#selectAddress{
	height:50px;
	display:inline-block;
	margin-bottom:5%;
}
.selectAd{
	background-color:white;
	color:black;
	width:130px;
	height:35px; 
	margin-right:10px;
	border-radius:5px;
}
#searchName{
	height:50px;
	display:inline-block;
	line-height:1.5;
}
#inputText{	
	width:180px;
	height:35px; 
	border:0;
	font-size:1rem;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:2px;
	line-height:1.5;
}
#mainBtn{
	display:inline-block;
	border:none; 
	background-color:#ffd500;
	color:black;
	font-size:1.3rem;	
	width:80px;
	height:35px; 
	border-radius:5px;
	text-align: center;
	line-height:1.5;
	font-weight:500;
}

